# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# vim swap files
*.swp
*.swo

data/
.idea/
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
wandb/latest-run
wandb/settings
wandb/offline-run-20260130_110013-n4647fb7/run-n4647fb7.wandb
wandb/offline-run-20260130_110013-n4647fb7/files/requirements.txt
wandb/offline-run-20260130_110300-vgufl709/run-vgufl709.wandb
wandb/offline-run-20260130_110300-vgufl709/files/requirements.txt
wandb/offline-run-20260130_111131-lq2i02cc/run-lq2i02cc.wandb
wandb/offline-run-20260130_111131-lq2i02cc/files/requirements.txt
wandb/offline-run-20260130_112853-t0yxxizv/run-t0yxxizv.wandb
wandb/offline-run-20260130_112853-t0yxxizv/files/requirements.txt
wandb/offline-run-20260130_113058-xydgqirx/run-xydgqirx.wandb
wandb/offline-run-20260130_113058-xydgqirx/files/requirements.txt
wandb/offline-run-20260130_113511-oengs7l7/run-oengs7l7.wandb
wandb/offline-run-20260130_113511-oengs7l7/run-oengs7l7.wandb.synced
wandb/offline-run-20260130_113511-oengs7l7/files/config.yaml
wandb/offline-run-20260130_113511-oengs7l7/files/requirements.txt
wandb/offline-run-20260130_113511-oengs7l7/files/wandb-metadata.json
wandb/offline-run-20260130_113511-oengs7l7/files/wandb-summary.json
wandb/offline-run-20260130_113511-oengs7l7/files/media/images/plot_all_900_1efce4df922cd8e257be.png
wandb/offline-run-20260130_113511-oengs7l7/files/media/images/plot_double_902_1271011867af5f7e6aa7.png
wandb/offline-run-20260130_113511-oengs7l7/files/media/images/plot_single_901_10b02a111434bccd1531.png
wandb/offline-run-20260130_113812-znrfz2b7/run-znrfz2b7.wandb
wandb/offline-run-20260130_113812-znrfz2b7/files/requirements.txt
wandb/offline-run-20260130_115713-lj8mzxxj/run-lj8mzxxj.wandb
wandb/offline-run-20260130_115713-lj8mzxxj/run-lj8mzxxj.wandb.synced
wandb/offline-run-20260130_115713-lj8mzxxj/files/config.yaml
wandb/offline-run-20260130_115713-lj8mzxxj/files/requirements.txt
wandb/offline-run-20260130_115713-lj8mzxxj/files/wandb-metadata.json
wandb/offline-run-20260130_115713-lj8mzxxj/files/wandb-summary.json
wandb/offline-run-20260130_115713-lj8mzxxj/files/media/images/plot_all_900_5efa43d15d7bd02609ec.png
wandb/offline-run-20260130_115713-lj8mzxxj/files/media/images/plot_double_902_2e35073cceabe6f57a6f.png
wandb/offline-run-20260130_115713-lj8mzxxj/files/media/images/plot_single_901_5e0de2836544ed90d605.png
wandb/offline-run-20260130_135315-ssghbiz4/run-ssghbiz4.wandb
wandb/offline-run-20260130_135315-ssghbiz4/run-ssghbiz4.wandb.synced
wandb/offline-run-20260130_135315-ssghbiz4/files/config.yaml
wandb/offline-run-20260130_135315-ssghbiz4/files/requirements.txt
wandb/offline-run-20260130_135315-ssghbiz4/files/wandb-metadata.json
wandb/offline-run-20260130_135315-ssghbiz4/files/wandb-summary.json
wandb/offline-run-20260130_135315-ssghbiz4/files/media/images/plot_all_450_7d4f0aa674f6416fd2cc.png
wandb/offline-run-20260130_135315-ssghbiz4/files/media/images/plot_double_452_1b021e9d8cdda90db04f.png
wandb/offline-run-20260130_135315-ssghbiz4/files/media/images/plot_single_451_d3e0c4128d5124596d31.png
wandb/offline-run-20260202_170847-xw45cwgz/run-xw45cwgz.wandb
wandb/offline-run-20260202_170847-xw45cwgz/files/requirements.txt
wandb/offline-run-20260202_175849-uuy7ipsv/run-uuy7ipsv.wandb
wandb/offline-run-20260202_175849-uuy7ipsv/files/requirements.txt
wandb/offline-run-20260202_175849-uuy7ipsv/files/media/images/plot_all_900_1a21d49f7c023902af91.png
wandb/offline-run-20260202_175849-uuy7ipsv/files/media/images/plot_double_902_bd2448c8fdca31df35a5.png
wandb/offline-run-20260202_175849-uuy7ipsv/files/media/images/plot_single_901_a07e92cee020a2e9fef5.png
wandb/offline-run-20260202_181825-p8bzewk5/run-p8bzewk5.wandb
wandb/offline-run-20260202_181825-p8bzewk5/run-p8bzewk5.wandb.synced
wandb/offline-run-20260202_181825-p8bzewk5/files/config.yaml
wandb/offline-run-20260202_181825-p8bzewk5/files/requirements.txt
wandb/offline-run-20260202_181825-p8bzewk5/files/wandb-metadata.json
wandb/offline-run-20260202_181825-p8bzewk5/files/wandb-summary.json
wandb/offline-run-20260202_181825-p8bzewk5/files/media/images/plot_all_900_416f64f5c1ce8f9fca19.png
wandb/offline-run-20260202_181825-p8bzewk5/files/media/images/plot_double_902_81978e02bfd6bc36d4b1.png
wandb/offline-run-20260202_181825-p8bzewk5/files/media/images/plot_single_901_b6bc73045918ed4074b7.png
wandb/offline-run-20260204_145835-m5vvkwtv/run-m5vvkwtv.wandb
wandb/offline-run-20260204_145835-m5vvkwtv/run-m5vvkwtv.wandb.synced
wandb/offline-run-20260204_145835-m5vvkwtv/files/config.yaml
wandb/offline-run-20260204_145835-m5vvkwtv/files/requirements.txt
wandb/offline-run-20260204_145835-m5vvkwtv/files/wandb-metadata.json
wandb/offline-run-20260204_145835-m5vvkwtv/files/wandb-summary.json
wandb/offline-run-20260204_145835-m5vvkwtv/files/media/images/plot_all_900_99498b8eb1fa287ea6e6.png
wandb/offline-run-20260204_145835-m5vvkwtv/files/media/images/plot_double_902_6547e678f57efa4b9c9c.png
wandb/offline-run-20260204_145835-m5vvkwtv/files/media/images/plot_single_901_87f41e5fffd6b10b5d4b.png
wandb/offline-run-20260213_175740-3bcoja33/run-3bcoja33.wandb
wandb/offline-run-20260213_175740-3bcoja33/run-3bcoja33.wandb.synced
wandb/offline-run-20260213_175740-3bcoja33/files/config.yaml
wandb/offline-run-20260213_175740-3bcoja33/files/requirements.txt
wandb/offline-run-20260213_175740-3bcoja33/files/wandb-metadata.json
wandb/offline-run-20260213_175740-3bcoja33/files/wandb-summary.json
wandb/offline-run-20260213_175740-3bcoja33/files/media/images/plot_all_900_2545dc3261b2a919c1ae.png
wandb/offline-run-20260213_175740-3bcoja33/files/media/images/plot_double_902_787e82683aa02d7f8e79.png
wandb/offline-run-20260213_175740-3bcoja33/files/media/images/plot_single_901_474b7f6dbb74f79d88da.png
wandb/offline-run-20260223_113920-jybf2sqo/run-jybf2sqo.wandb
wandb/offline-run-20260223_113920-jybf2sqo/run-jybf2sqo.wandb.synced
wandb/offline-run-20260223_113920-jybf2sqo/files/config.yaml
wandb/offline-run-20260223_113920-jybf2sqo/files/requirements.txt
wandb/offline-run-20260223_113920-jybf2sqo/files/wandb-metadata.json
wandb/offline-run-20260223_113920-jybf2sqo/files/wandb-summary.json
wandb/offline-run-20260223_113920-jybf2sqo/files/media/images/plot_all_900_09b0ca5c2bcd75a8d495.png
wandb/offline-run-20260223_113920-jybf2sqo/files/media/images/plot_double_902_14e095c96a8e9dfbeec7.png
wandb/offline-run-20260223_113920-jybf2sqo/files/media/images/plot_single_901_3f9f076b6c94a2fee890.png
wandb/offline-run-20260223_113920-jybf2sqo/files/media/images/tsne_903_ce28fc105879fc539daf.png
wandb/offline-run-20260223_142744-sidska3k/run-sidska3k.wandb
wandb/offline-run-20260223_142744-sidska3k/files/requirements.txt
wandb/offline-run-20260223_142744-sidska3k/files/media/images/plot_all_1350_0820a585f187b6341cf8.png
wandb/offline-run-20260223_142744-sidska3k/files/media/images/plot_double_1352_5a8640aecb443f07f9ee.png
wandb/offline-run-20260223_142744-sidska3k/files/media/images/plot_single_1351_d6deaa62a8c39efc7db3.png
wandb/offline-run-20260223_142744-sidska3k/files/media/images/tsne_1353_051057a38044a1de0880.png
runner.sh
slurm-568400.out
slurm-568404.out
slurm-568406.out
slurm-568488.out
slurm-568492.out
slurm-569476.out
slurm-575942.out
slurm-575976.out
slurm-580813.out
slurm-605064.out
slurm-625066.out
slurm-625258.out
